Library
Temp
obj
Library

.DS_Store

.DS_Store

Playground/.DS_Store

Playground/.DS_Store

Playground/Marvin/.DS_Store

Playground/Marvin/.DS_Store
StyleCop.Cache
Settings.StyleCop
*.pidb
*.pidb
*.pidb
*.sln
*.userprefs
*.sln
*.suo
Builds/*
*.sln
*.sln
*.suo
